<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Lab: Exploring the Dataset**

Estimated time needed: **30** minutes

## Introduction

Data exploration is the initial phase of data analysis where we aim to understand the data's characteristics, identify patterns, and uncover potential insights. It is a crucial step that helps us make informed decisions about subsequent analysis.

## Objectives

After completing this lab, you will be able to:

-   Summarize the key characteristics of a dataset.
-   Identify different data types commonly used in data analysis.

### Install the required library

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd

## Load the dataset

<h3>Read Data</h3>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. 
</p>

The functions below will download the dataset into your browser:

In [ ]:
# Load the dataset directly from the URL
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/VYPrOu0Vs3I0hKLLjiPGrA/survey-data-with-duplicate.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [ ]:
df = pd.read_csv(file_path)

# Hands on Lab

## Explore the dataset

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [ ]:
df.head(5)

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [ ]:
df.shape[0]

Print the number of columns in the dataset.

In [ ]:
df.shape[1]

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [ ]:
df.dtypes

Print the mean age of the survey participants.

In [ ]:
import pandas as pd

# Example data
df = pd.DataFrame({
    'Age': ['Under 18 years old', '35-44 years old', '45-54 years old', '18-24 years old', '25-34 years old']
})

# Define a mapping for age groups to numerical values (midpoints)
age_mapping = {
    'Under 18 years old': 17,  # Assume midpoint is 17
    '18-24 years old': 21,
    '25-34 years old': 29.5,
    '35-44 years old': 39.5,
    '45-54 years old': 49.5,
    '55-64 years old': 59.5,
    '65 years or older': 70  # Assume midpoint is 70
}

# Map the age column to numerical values
df['Age_Numeric'] = df['Age'].map(age_mapping)

# Compute mean and median
mean_age = df['Age_Numeric'].mean()
median_age = df['Age_Numeric'].median()

print(f"Mean Age: {mean_age}")
print(f"Median Age: {median_age}")

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [ ]:
len(df.Country.unique())

Copyright Â©  IBM Corporation. All rights reserved.